{# Structure of a yaml dynamic zone variable: 
- name: myzone.org 
  stable: true
  serial: YYYYMMDDNN
  admin: postmaster.myzone.org
  rec_ns:
  - myns.myzone.org 
  - otherns.zone.org    ## without . at the end
  RR:
  - {label:server, type: A|CNAME|..., rdata: IP|domain
#}{% set zone=item %}
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;; Archivo de zona: {{ zone.name }}
;; {{ ansible_managed       }}                  
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
$ORIGIN {{ zone.name }}.
{% if zone.stable %} {% set min_def='2D' %}
$TTL 1D      ; 86400s, 1 day
{% else %}{% set min_def='10M' %}
$TTL 10M      ; 600s, 10 min
{% endif %}

{# We first deal in detail with SOA and NS, which is requiered, and root zone registers
   Empezamos detallando el SOA y NS, que son indispensables, y registros de raíz de zona #}

@	IN	SOA		{{ zone.primary|d(zone.rec_ns.0) }}. {{ zone.admin|d(bind9_admin) }}. (
				{{ zone.serial }} ; serial
				{{ zone.refresh|d('1D') }}      ; refresh (1 day)
				{{ zone.retry|d('2H') }}       ; retry (1 hour)
				{{ zone.expire|d('1000H') }}    ; expire (1000 hours, +/- 10 weeks)
				{{ zone.minimum|d(min_def) }}      ; minimum (2 days when stable, otherwhise 10 min)
				)

{% for ns in zone.rec_ns %}
@	IN	NS	{{ ns }}.
{% endfor %}
{% if zone.rec_root_a|d() %}
@	IN	A	zone.rec.root_a
{% endif %}
{% if zone.rec_root_aaa|d() %}
@	IN	AAAA	zone.rec.root_aaaa
{% endif %}
{% if zone.rec_root_mx|d() %}
{%   for mx in zone.rec_root_mx %}
@	IN	MX	{{ mx.value|d('10') }} {{ mx.key }}.
{%   endfor %}
{% endif %}
{% if zone.rec_root_txt|d() %}
@	IN	TXT	"{{ zone.rec_root_txt}}"
{% endif %}

{# Then a generic yaml following basic RR structure (omiting 'class'):
   Seguimos con un yaml conforme a la estructura básica de un RR (omitiendo 'class'):
   http://www.zytrax.com/books/dns/ch8/#generic #}
{% for resource in zone.RR %}
{{resource.label}}	{{resource.ttl|d()}}	IN	{{resource.type}}	{{resource.rdata}}
{% endfor %}
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;; Fin archivo de zona: {{ zone.name }}
;; {{ansible_managed}}                  
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
