//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";
{% if bind9_statistics_enabled %}
statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};

{% endif %}
{% if bind9_masters|default() %}
// masters for zones and allow-notify
{%   for master in bind9_masters %}
masters "{{ master.name }}" {
{%     for addr in master.addresses %}
    {{ addr }};
{%     endfor %}
};
{%   endfor %}
{% endif %}
{% if bind9_masters_extra|default() %}
{%   for master in bind9_masters_extra %}
masters "{{ master.name }}" {
{%     for addr in master.addresses %}
    {{ addr }};
{%     endfor %}
};
{%   endfor %}
{% endif %}
{% if bind9_acl is defined %}

	// Custom acls
{%   for acl_item in bind9_acl %}
acl "{{ acl_item.name }}" {
{%     for item_address in acl_item.addresses %}
	{{ item_address }};
{%     endfor %}
};
{%   endfor %}
{% endif %}

// The following zones are managed by this DNS Server //
{% for zone in (bind9_zones_static + bind9_zones_dynamic)|sort(attribute='name') %}
{% set zone_type = zone.type|default(bind9_zone_type|default('master')) %}
zone "{{ zone.name }}" {
    type {{ zone_type }};
{%   if zone_type == 'master' %}
    file "/etc/bind/zones/db.{{ zone.name }}";
{%     if zone.allow_query is defined %}
    allow-query {
{%       for allow_query_item in zone.allow_query %}
        {{ allow_query_item }};
{%       endfor %}
    };
{%     endif %}
{%     if zone.allow_transfer is defined %}
    allow-transfer {
{%       for allow_transfer_item in zone.allow_transfer %}
        {{ allow_transfer_item }};
{%       endfor %}
    };
{%     endif %}
{%     if bind9_notify_explicit %}
    notify explicit;
{%     elif zone.notify | default(true) %}
    notify {{ zone.notify | default(true) | ternary ('yes','no') }};
{%     endif %}
{%     if zone.also_notify is defined %}
    also-notify {
{%       for also_notify_item in zone.also_notify %}
        {{ also_notify_item }};
{%       endfor %}
    };
{%     endif %}
{%     if (bind9_dnssec or zone.dnssec | default() ) and zone.dnssec | default( bind9_dnssec_zones_default_enabled ) %}
    auto-dnssec maintain;
    inline-signing yes;
{%     endif %}
{%     if zone.update_policy_grant | default() %}
    update-policy {
        grant {{ zone.name }}_ddns_update {{ zone.update_policy_grant }};
    };
{%     endif %}
{%   elif zone_type == 'slave' %}
    file "/var/lib/bind/db.{{ zone.name }}";
{%     if zone.masters | default() or bind9_masters | default() %}
    notify no;
    masters {
{%       if zone.masters | default() %}
{%         for master in zone.masters %}
        {{ master }};
{%         endfor %}
{%       elif bind9_masters | default() %}
{%         for master in bind9_masters %}
        {{ master.name }};
{%         endfor %}
{%       endif %}
    };
{%     endif %}
{%   elif zone_type == 'forward' %}
    forwarders {
{%     for fwd in zone.forwarders %}
        {{ fwd }}; 
{%     endfor %}
   }; 
{%   endif %}
};
{% endfor %}
