---
name: Integration
on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - '**'           # Push events to every tag including hierarchical tags like v1.0/beta
    paths-ignore:
      - ".*"
      - ".github/**"
      - "README.md"

jobs:
  integration:
    name: Integration
    uses: systemli/github-ansible-workflow/.github/workflows/ansible-integration-workflow.yaml@v1.6.0
    with:
      distros: '[ "debian13", "debian12" ]'
